@charset "UTF-8";

/* Universal Styles */
html {
  font-size: 18px;
}
body {
  font-family: 'Helvetica', sans-serif;
  line-height: 1.4;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  .container {
    max-width: 100%;
  }
}

/* Banner and Header */
.banner {
  background-image: url("../images/glasses.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 31rem;
}
@media only screen and (max-width: 1024px) {
  .banner {
    height: 22rem;
  }
}
@media only screen and (max-width: 560px) {
  .banner {
    background-position: 20%;
    height: 17rem;
  }
}
.header {
  background-color: cadetblue;
  position: relative;
  top: 1rem;
  width: 100%;
  color: white;
  display: flex;
  align-itms: center;
  justify-content: space-between;
}
@media only screen and (max-width: 1024px) {
  .header {
    position: relative;
    top: 0;
  }
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo img {
  height: 1.5rem;
  padding: 0 1rem 0 2rem;
}
@media only screen and (max-width: 560px) {
  .logo span {
    display: none;
  }
}
nav li {
  display: inline-block;
  padding: 2rem 2rem 2rem 0;
}
.mobile-nav {
  display: none;
}
@media only screen and (max-width: 700px) {
  nav ul {
    display: none;
  }
  .mobile-nav {
    display: inline-block;
    text-align: center;
  }
}
.motto-container {
  display: flex;
  justify-content: flex-end;
}
.motto {
  position: relative;
  top: 11rem;
  left: 2rem;
  background-color: white;
  padding: 2rem 0;
  display: inline-block;
}
.motto span {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.3;
  padding: 0 5rem;
}
@media only screen and (max-width: 1024px) {
  .motto {
    position: relative;
    top: 5rem;
    left: -2rem;
    padding: 2rem;
  }
  .motto span {
    font-size: 1.33rem;
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 560px) {
  .motto {
    position: relative;
    top: 7rem;
    left: 0;
    display: block;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
  }
  .motto span {
    font-size: 1rem;
    text-align: center;
    padding: 0;
  }
}

/* Main */
.services {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
@media only screen and (max-width: 560px) {
  .services {
    flex-direction: column;
    align-items: center;
  }
}
.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 5rem;
  padding: 3rem;
}
.service.exam img {
  width: 3.5rem;
}
.service.fitting img,
.service.delivery img {
  width: 5rem;
}
.services .description {
  text-align: center;
}
@media only screen and (max-width: 560px) {
  .service {
    font-size: 0.77rem;
    padding: 0;
  }
  .none {
    display: none;
  }
}
.business-info {
  display: flex;
  flex-direction: row;
}
.philosophy {
  width: 35%;
  text-align: left;
  padding-left: 10%;
}
.appointments {
  width: 35%;
  text-align: left;
  padding-left: 5%;
}
.business-info .description {
}
.title {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  display: block;
  width: 10rem;
  padding: .5rem 1.25rem;
  margin-bottom: 1rem;
}
.business-info p {
  padding: 1rem 0;
}
@media only screen and (max-width: 560px) {
  .business-info {
    flex-direction: column;
    align-items: flex-end;
  }
  .business-info p {
    font-size: .77rem;
    padding: 1rem;
  }
  .philosophy,
  .appointments {
    width: 100%;
    padding-bottom: 4rem;
  }
  .title {
    width: 100%;
    text-align: center;
  }
}

/* Footer */
footer {
  background-color: azure;
  display: flex;
  align-items: center;
  max-width: 1032px;
  margin: 5rem auto 0 auto;
}
footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}
@media only screen and (max-width: 560px) {
  footer {
    justify-content: center;
    margin-top: 1rem;
  }
  footer img {
    padding: 4rem 0;
  }
  footer span {
    display: none;
  }
}
